.turn-device-headline {
    font-size: 112px;
    letter-spacing: 3px;
    text-shadow: 3px 3px 6px rgba(241, 185, 30, 0.8);
    top: 0;
    width: 720px;
    margin: 20px 0;
    text-align: center;
}

.turn-device-img {
    display: flex;
    position: absolute;
    z-index: 998;
    animation: rotate 6s infinite;
    width: 232px;
    height: 232px;
    top: 22%;
    left: 29%;
    border-radius: 10%;
}

#turn-device-img {
    display: flex;
    position: absolute;
    z-index: 998;
    animation: rotate 6s infinite;
    width: 232px;
    height: 232px;
    top: 22%;
    left: 29%;
    border-radius: 10%;
}

@keyframes rotate {
    0% {
        transform: rotate(-47deg);
    }

    50% {
        transform: rotate(47deg);
    }

    100% {
        transform: rotate(-47deg);
    }
}

/* responsive */
@media screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    #turn-device-headline {
        font-size: 72px;
        width: 360px;
    }

    #canvas-container {
        width: 360px;
    }

    .turn-device-img {
        left: 20%;
    }

}

@media screen and (max-width: 360px) {
    canvas {
        width: 100%;
    }

    #turn-device-headline {
        font-size: 48px;
        width: 320px;
    }

    #canvas-container {
        width: 320px;
    }

    .turn-device-img {
        left: 20%;
        height: 200px;
        width: 200px;
    }

}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100svh;
        overflow-y: hidden;
    }

    body {
        overflow: hidden;
    }
}

@media only screen and (max-height: 600px) {
    #headline {
        display: none !important;
    }
}

@media only screen and (max-height: 680px) {
    #canvas-container {
        height: 480px;
        width: 720px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }
}

@media only screen and (max-height: 630px) {
    h1 {
        margin: 0;
        font-size: 98px;
    }
}

@media only screen and (max-height: 580px) {
    h1 {
        margin: 0;
    }
}

@media only screen and (min-height: 480px) {
    body {
        overflow: auto;
    }
}