body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'zabars', sans-serif;
    background-image: url('../El_Pollo_Loco/img_pollo_locco/img/10_background/desert.jpg');
    height: 95vh;
}

canvas {
    background-color: black;
    display: block;
    z-index: 1;
}

#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 112px;
    letter-spacing: 3px;
    text-shadow: 3px 3px 6px rgba(241, 185, 30, 0.8);
    top: 0;
    width: 720px;
    margin-top: 20px;
    text-align: center;
}

#canvas-container {
    height: 480px;
    width: 720px;
    display: flex;

    align-items: flex-end;
    justify-content: flex-end;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.canvas-icons-div {
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 56px;
    width: 160px;
    z-index: 2;
}

.d-none {
    display: none !important;
}

.icon-div {
    height: 36px;
    width: 36px;
}

.div-icons {
    cursor: pointer;
    height: 32px;
    width: 32px;
}

#sound-icon:hover {
    height: 36px;
    width: 36px;
}

#gamepad-icon:hover {
    height: 36px;
    width: 36px;
}

#fullscreen-icon:hover {
    height: 36px;
    width: 36px;
}

#game-instruction {
    position: absolute;
    background-color: rgb(212, 164, 18);
    width: 375px;
    border: 2px solid black;
    margin-bottom: 68px;
    height: 408px;
    z-index: 999;
}

.instruction-icons {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.instruction-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

h2 {
    font-size: 64px;
    text-align: center;
    text-shadow: 3px 3px 6px rgba(241, 185, 30, 0.8);
    margin: 24px 0;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.keyboard-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}


.exit {
    cursor: pointer;
    padding: 16px;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-size: 32px;
    margin-bottom: 2px;
    margin-top: 2px;

}

#game-instruction-header {
    display: flex;
    justify-content: space-between;
}

.empty {
    padding: 16px;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(212, 164, 18);;
}

.audio-icon {
    background-image: url('./img_pollo_locco/img/10_background/speaker-filled-audio.png');
}

.keyboard-button-space {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 56px;
}

 #start-button {
    position: absolute;
    top: 5%;
    left: 39%;
    background-color: rgb(255,204,1);
    color: white;
    font-size: 48px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    padding: 16px;
    cursor: pointer;
    border: 4px solid white;
    border-radius: 10px;
    transform: skew(-20deg) scale(1);
    animation: zoom 1.5s infinite;
    z-index: 2;
    margin-bottom: 360px;
}

/* #game-instruction {
    position: absolute;
    background-color: rgb(212, 164, 18);
    width: 375px;
    border: 2px solid black;
    margin-bottom: 68px;
    height: 408px;
    z-index: 999;
} */



#start-button:hover {
    background-color: #FFB900;
}

@keyframes zoom {
    0% {
        transform: skew(-20deg) scale(1);
    }

    50% {
        transform: skew(-20deg) scale(1.1);
    }

    100% {
        transform: skew(-20deg) scale(1);
    }
}

#start-screen-img {
    height: 480px;
    width: 720px;
    position: absolute;
    z-index: 1;
}