/* responsive */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100svh;
        overflow-y: hidden;
    }

    body {
        overflow: hidden;
    }
}

@media only screen and (max-height: 680px) {
    #canvas-container {
        height: 480px;
        width: 720px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

}

@media only screen and (max-height: 630px) {
    h1 {
        margin: 0;
        font-size: 98px;
    }
}

@media only screen and (max-height: 580px) {
    h1 {
        margin: 0;
    }
}

@media only screen and (min-height: 480px) {
    
    body {
        overflow: auto;
    }
}